/*
    z-index: movimiento de elementos en eje z
*/

*{
    margin: 0;
    padding: 0;
}

/* Estilos generales para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Estilos para el encabezado de la página */
header {
    background-color: #313131;
    color: white;
    text-align: center;
}

.subtitulo-exposiciones{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PFDinTextPro-Bold',sans-serif;
    font-weight: bolder;
    line-height: 1.15;
    text-transform: none;
    color: #373737;
}

/* Estilos para la barra de navegación superior */
.top-header {
    background-color: #313131;
    display: flex;
    justify-content: right;
}

/* Estilos para el menú desplegable */
.dropdown {
    display: inline-block;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para la barra de navegación principal */
.main-navbar {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

.main-navbar img {
    padding-right: 300px;
}

.main-navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

/* Estilos para la sección de exposiciones */
.exposiciones{
    padding-left: 50px;
    padding-right: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 5px;
    padding-top: 20px;
}

.descripcion-fechas{
    font-family: 'PFDinTextPro-Thin',sans-serif;
    font-size: 16px;
    line-height: 1.15;
    color: #555555;
}

.descripcion-nombre{
    font-weight: bold;
    font-family: 'PFDinTextPro-Bold',sans-serif;
    line-height: 1.15;
    text-transform: none;
    color: #373737;
}

.descripcion-dueño{
    font-family: 'PFDinTextPro-Thin',sans-serif;
    font-size: 16px;
    line-height: 1.15;
    color: #555555;
}

.btn-inverse {
  background-color: #373737;
  border-color: #373737;
  box-shadow: 0 0 0 transparent;
}

.btn-inverse{
    background-repeat: repeat-x;
}

.btn-inverse{
  text-shadow: none;
  color: #ffffff;
}

.btn {
  display: inline-block;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
}

.btn {
    margin-top: 10px;
  padding: 5px 12px 8px;
  font-weight: bold;
  background-image: none;
  border-radius: 4px;
  border-width: 2px;
  transition: 0.2s;
}

.coleccion{
    padding-left: 50px;
    padding-right: 50px;
}

/* Estilos para los enlaces de navegación */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

/* Estilos para las secciones */
section {
    padding: 20px;
}

.subtitulo-coleccion{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PFDinTextPro-Bold',sans-serif;
    font-weight: bolder;
    line-height: 1.15;
    text-transform: none;
    color: #373737;
}

.subtitulo-coleccion h2{
    margin: 0;
  text-rendering: optimizelegibility;
}

.imagen-coleccion{
    position: relative;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
}

.texto{
    position: absolute;
    top: 100px;
    left: 330px;
}

.texto h1{
    font-size: xx-large;
    color: #ffffff;
}

.imagen-coleccion img{
    width: 800px;
    height: 270px;
    filter: brightness(0.5);
}

.imagen-coleccion{
    padding-top: 20px;
}

.miniatura {
    margin-bottom: 30px;
}

.miniatura--fondo-imagen {
    position: relative;
    min-height: 171px;
    background-size: cover;
    background-position: center;
}

article{
    display: block;
    margin-top: 10px;
}

.actividades{
    padding-left: 50px;
    padding-right: 50px;
}

.space{
    padding-top: 60px;
}

.subtitulo-actividades{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PFDinTextPro-Bold',sans-serif;
    font-weight: bolder;
    line-height: 1.15;
    text-transform: none;
    color: #373737;
}

.cards-informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 5px;
    padding-top: 20px;
}

.actividad-1{
    padding-left: 20px;
    padding-right: 20px;
    width: 270px;
    /* height: 190px; */
}

.actividad-2{
    padding-left: 20px;
    padding-right: 20px;
    width: 270px;
    height: 190px;
}

.actividad-3{
    padding-left: 20px;
    padding-right: 20px;
    width: 270px;
    height: 190px;
}

.actividad-1 img{
    width: 270px;
    height: 190px;
}

.actividad-2 img{
    width: 270px;
    height: 190px;
}

.actividad-3 img{
    width: 270px;
    height: 190px;
}

.actividad-1 .descripcion-fechas{
    font-size: small;
}

.actividad-2 .descripcion-fechas{
    font-size: small;
}

.actividad-3 .descripcion-fechas{
    font-size: small;
}

.visitas-comentadas-section{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.subtitulo-visitas{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PFDinTextPro-Bold',sans-serif;
    font-weight: bolder;
    line-height: 1.15;
    text-transform: none;
    color: #373737;
}

.visita-1, .visita-2, .visita-3, .visita-4{
    padding-left: 20px;
    padding-right: 20px;
    width: 270px;
    height: 190px;
}

.visita-1 img, .visita-2 img, .visita-3 img, .visita-4 img{
    width: 270px;
    height: 190px;
}

.btn-bottom{
    padding-top: 150px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}